.dub
docs.json
__dummy.html
docs/
built/space.so
built/space.dylib
built/space.dll
built/space.a
built/space.lib
built/space-test-*
*.exe
*.o
*.obj
*.lst

\.vs/

built/space_game_events\.lib

built/space_game_logic\.lib

built/space_io\.lib

built/space_objects\.lib
